@charset "utf-8";
.order-box div, .order-box ul, .order-box ol, .order-box dl, .order-box dt, .order-box dd, .order-box li, .order-box dl, .order-box h1, .order-box h2, .order-box h3, .order-box h4, .order-box pre, .order-box table, .order-box th, .order-box td, .order-box form, .order-box input, .order-box button, .order-box select, .order-box textarea, .order-box p {margin:0; padding:0;font-style: normal;font-weight:normal;font-size:12px;}
.order-box label{font-weight: normal;}

.order-box .clear{clear:both;height:0; line-height:0; font-size:0;display:block; overflow:hidden}
.order-box .clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;font-size:0}
.order-box .clearfix {zoom:1}
.order-box .fl{float:left; display: inline;}
.order-box .fr{float:right; display: inline;}

.order-box ol, .order-box ul, .order-box li{list-style: none;}
.order-box img {border: 0; vertical-align:top;}
.order-box {font:12px/22px "微软雅黑"; color: #333; background: #fff;}
.order-box a{text-decoration:none; color: #5b5b5b;} 

.order-box .hd{
    height: 35px;
    background: #f7f7f7;
    padding: 0 16px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;
}
.order-box .hd strong{
    color: #4b4b4b;
    font-size: 14px;
    margin-right: 10px;
}
.order-box .hd span{
    color: #999;
}
.order-box .bd{
    padding: 10px 0 10px 35px;
}
.order-box .bdlight{
    border: 3px solid #ff6600;
    padding: 12px;
}
.order-box .bdlight-hd strong{
    font-size: 14px;
}
.order-box .bdlight .h{
    background: #e9e9e9;
    height: 27px;
    line-height: 27px;
    padding-left: 33px;
    font-size: 14px;
}
.order-box li label input{
    vertical-align: -2px;
}
.order-box .input-text-box {
    padding-left: 30px;
    margin-bottom: 15px;
}
.order-box .input-text-box .text{
    width: 382px;
    height: 32px;
    line-height: 32px;
    text-indent: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.order-box .input-text-box label{
    display: inline-block;
    width: 100px;
    text-align: right;
    height: 32px;
    line-height: 22px;
}
.order-box .input-text-box .w60{
    width: 60px;
    text-align: left;
}
.order-box .mt10{
    margin-top: 10px!important;
}
.order-box .input-text-box  li{
    margin-bottom: 5px;
}
.order-box .input-text-box  label span{
    color: #e12222;
    margin-right: 5px;
}
.order-box .i-h{
    padding-left: 40px;
    margin-bottom: 20px;
}
.order-box .i-h span{
    font-size: 14px;
    font-weight: bold;
}
.order-box .i-h label{
    margin-right: 20px;
}
.order-box .i-h label input{
    vertical-align: -2px;
}
.order-box .padding0{
    padding: 0!important;
}
.order-box .ml100{
    margin-left: 100px!important;
}
.order-box .ml40{
    margin-left: 40px!important;
}
.order-box .pep-info-item, .order-box .pay-item{
    border: 1px solid #ddd;
}
.order-box .pay-item,.order-box .pep-info-item{
    margin-top: -1px;
}
.order-box .invoice-item .bdlight-bd, .order-box .invoice-kind {
    margin: 0 10px;
}
.order-box .invoice-item .submit-btn{
    margin-top: 30px;
}

.order-box .invoice-item .submit-btn{
    background: #d9534f;
    min-width: 130px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    border: 0 none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;
}
.order-box .invoice-item a{
    color: #007be3;
}
.order-box .invoice-kind .h{
    margin-bottom: 13px;
}
.order-box .invoice-kind .b{
    padding-left: 40px;
}
.order-box .invoice-kind .b li{
    margin-bottom: 10px;
}
.order-box .invoice-item .bdlight-hd, .order-box .invoice-item .bdlight-bd li{
    margin-bottom: 10px;
}
.order-box .invoice-kind select{
    width: 122px;
    height: 34px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: #999;
}
.order-box .edit{
    color: #007be3;
}
.order-box .invoice-kind .b li{
    overflow: hidden;
    *zoom:1;
}
.order-box .info-s{
    margin-left: 20px;
    color: #999;
}
.order-box .w100{
    width: 100px;
}
.order-box .bd p{
    color: #666;
}
.pb5{
    padding-bottom: 5px!important;
}


@media all and (max-width: 400px){
    .order-box .input-text-box .text{
        width:100%;
    }
    .order-box .input-text-box label{
        text-align: left;
    }
    .order-box .bdlight .h {
        padding-left: 15px;
    }
    .order-box .invoice-kind .b {
        padding-left: 0
    }
    .order-box .invoice-item .submit-btn{
        margin-top: 7px;
        margin-left: 0!important;
    }
    .order-box .i-h {
        padding-left: 0
    }
    .order-box .i-h label:nth-child(3){
        margin-right: 0;
    }
    .order-box .i-h label{
        margin-right: 11px;
    }
    .order-box .input-text-box {
        padding-left: 0;
    }
    .order-box .taitou label{
        width: 80px;
    }
    .order-box .invoice-item .submit-btn {
        margin-left: 0;
    }
    .order-box .invoice-kind select {
        width: 73px;
    }
    .order-box .info-s{
        width: 55%;
    }
    .order-box .info-s{
        margin-left: 0;
    }
    .order-box li label input, .order-box .i-h label input{
        vertical-align: -2px;
    }
    .order-box .invoice-item .bdlight-hd, .order-box .invoice-item .bdlight-bd li,.order-box .invoice-kind .b li {
        margin-bottom: 5px;
    }
    .order-box .input-text-box label {
        height: 22px;
        line-height: 22px;
    }
    .order-box label, .order-box p{
        font-size: 13px;
    }
    .order-box .input-text-box label{
        width: 102px;
    }
    .order-box .bdlight-hd strong, .order-box .hd strong, .order-box .bdlight .h{
        font-size: 15px;
    }
}