<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
<!--
    <Tab text="我的工单" permissions="pms_cloud" selected="true">
      <SubTabs>
        <Tab text="处理中的工单" href="project/background_request.aspx?Status=Processing" keepQueryString="true" target="right"/>
        <Tab text="所有工单" href="project/background_request.aspx" keepQueryString="true" target="right"/>
        <Tab text="新增工单" href="project/background_requestAdd.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
-->
    <Tab text="云建站订单" permissions="pms_cloud" selected="true">
      <SubTabs>
        <Tab text="成品网站订单" href="project/background_order.aspx" keepQueryString="true" target="right" />
        <Tab text="售后服务订单" href="project/background_orderService.aspx" keepQueryString="true" target="right" />
        <Tab text="软件购买订单" href="project/background_orderSoftware.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab text="云建站业务" permissions="pms_cloud" selected="true">
      <SubTabs>
        <Tab text="退款管理" href="project/background_orderRefund.aspx" keepQueryString="true" target="right" />
        <Tab text="模板管理" href="project/background_moban.aspx" keepQueryString="true" target="right" />
        <Tab text="通知设置" href="project/background_orderMessage.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    
  </Tabs>
</TabCollection>
