<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="我的线索" permissions="pms_crm" selected="true">
      <SubTabs>
        <Tab text="新线索" href="project/background_lead.aspx?Status=New" keepQueryString="true" target="right"/>
        <Tab text="接触中的线索" href="project/background_lead.aspx?Status=Contacting" keepQueryString="true" target="right"/>
        <Tab text="所有线索" href="project/background_lead.aspx" keepQueryString="true" target="right"/>
        <Tab text="新增线索" href="project/background_leadAdd.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="我的联系人" permissions="pms_crm" selected="true">
      <SubTabs>
        <Tab text="所有联系人" href="project/background_contact.aspx" keepQueryString="true" target="right"/>
        <Tab text="新增联系人" href="project/background_contactAdd.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="客户管理" permissions="pms_crm" selected="true">
      <SubTabs>
        <Tab text="我的客户" href="project/background_account.aspx" keepQueryString="true" target="right"/>
        <Tab text="我的合同" href="project/background_contract.aspx" keepQueryString="true" target="right"/>
        <Tab text="发票管理" href="project/background_invoice.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    
  </Tabs>
</TabCollection>
