<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="我的文档" permissions="pms_document" selected="true">
      <SubTabs>
        <Tab text="我上传的文档" href="project/background_documentMy.aspx" keepQueryString="true" target="right"/>
        <Tab text="所有文档清单" href="project/background_documentAll.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
  	<Tab text="文档管理" permissions="pms_document" selected="true">
      <SubTabs>
  	    <Tab text="文档管理" href="project/background_documentMain.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
