<?xml version="1.0" encoding="utf-8" ?> 
<Config>
	<add name="pms_cloud" text="云平台管理" />
      <add name="pms_crm" text="客户管理" />
	<add name="pms_project" text="项目管理" />
	<add name="pms_document" text="文档管理" />
	<add name="pms_product" text="产品管理" />
	<add name="pms_setting" text="系统设置" />
</Config>