<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>

	<Tab text="许可证管理" permissions="pms_product" selected="true">
		<SubTabs>
			<Tab text="制作许可证" href="project/product_licenseAdd.aspx" target="right" />
			<Tab text="许可证查询" href="project/product_license.aspx" target="right" />
		</SubTabs>
	</Tab>
	
	<Tab text="使用的网站" permissions="pms_product" selected="true">
		<SubTabs>
			<Tab text="网站查询" href="project/product_url.aspx" target="right" />
			<Tab text="统计分析" href="project/product_urlAnalysis.aspx" target="right" />
		</SubTabs>
	</Tab>

	<Tab text="核心指标" permissions="pms_product" selected="true">
		<SubTabs>
			<Tab text="WCM同期群分析" href="project/product_urlCohort.aspx?productID=wcm" target="right" />
			<Tab text="CMS同期群分析" href="project/product_urlCohort.aspx?productID=cms" target="right" />
			<Tab text="BBS同期群分析" href="project/product_urlCohort.aspx?productID=bbs" target="right" />
		</SubTabs>
		
	</Tab>

	<Tab text="产品升级管理" permissions="pms_product" selected="true">
		<SubTabs>
			<Tab text="升级包管理" href="project/product_hotfix.aspx" target="right" />
		</SubTabs>
	</Tab>
	
</Tabs>
</TabCollection>