<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="办件管理" permissions="pms_project" selected="true">
      <SubTabs>
        <Tab text="我发起的办件" href="project/background_applyToAll.aspx?IsAddUserName=True" keepQueryString="true" target="right"/>
        <Tab text="我负责的办件" href="project/background_applyToAll.aspx?IsUserName=True" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="项目管理" permissions="pms_project" selected="true">
      <SubTabs>
        <Tab text="项目管理" href="project/background_projectMain.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
