<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="资源申请管理" permissions="pms_crm" selected="true">
      <SubTabs>
        <Tab text="待处理申请" href="project/product_application.aspx" target="right" />
        <Tab text="已处理申请" href="project/product_applicationHandled.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab text="项目配置" permissions="pms_setting" selected="true">
      <SubTabs>
        <Tab text="客户签单管理" iconUrl="~/sitefiles/bairong/Icons/menu/money.gif" selected="true">
          <SubTabs>
    			<Tab text="本年签单管理" href="project/background_projectContract.aspx?type=Year" keepQueryString="true" target="right" />
                <Tab text="本月签单管理" href="project/background_projectContract.aspx?type=Month" keepQueryString="true" target="right" />
                 <Tab text="年度签单分析" href="project/background_projectContractAnalysis.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="项目回款管理" iconUrl="~/sitefiles/bairong/Icons/menu/money.gif" selected="true">
          <SubTabs>
            <Tab text="项目回款管理" href="project/background_projectMain.aspx?Type=Payment" keepQueryString="true" target="right" />
            <Tab text="本年已回款项" href="project/background_paymentPaid.aspx?type=Year" keepQueryString="true" target="right" />
            <Tab text="本月已回款项" href="project/background_paymentPaid.aspx?type=Month" keepQueryString="true" target="right" />
            <Tab text="全部待回款项" href="project/background_paymentNotPay.aspx" keepQueryString="true" target="right" />
            <Tab text="本月待回款项" href="project/background_paymentNotPay.aspx?type=Month" keepQueryString="true" target="right" />
             <Tab text="下月待回款项" href="project/background_paymentNotPay.aspx?type=NextMonth" keepQueryString="true" target="right" />
             <Tab text="全部返款管理" href="project/background_paymentCashBack.aspx" keepQueryString="true" target="right" />
             <Tab text="年度回款分析" href="project/background_paymentAnalysis.aspx" keepQueryString="true" target="right" />
             <Tab text="回款管理配置" href="project/background_paymentConfiguration.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="客户管理配置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
          <SubTabs>
            <Tab text="线索管理" href="project/background_leadAll.aspx" keepQueryString="true" target="right" />
            <Tab text="工单管理" href="project/background_requestAll.aspx" keepQueryString="true" target="right" />
            <Tab text="订单管理" href="project/background_order.aspx" keepQueryString="true" target="right" />
            <Tab text="客户管理" href="project/background_accountAll.aspx" keepQueryString="true" target="right" />
            <Tab text="联系人管理" href="project/background_contactAll.aspx" keepQueryString="true" target="right" />
            <Tab text="线索统计" href="project/background_leadAnalysis.aspx" keepQueryString="true" target="right" />
            <Tab text="客户管理配置" href="project/background_crmConfiguration.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="项目管理配置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
          <SubTabs>
            <Tab text="项目管理（进行中）" href="project/background_project.aspx?isClosed=False" keepQueryString="true" target="right" />
            <Tab text="项目管理（已结束）" href="project/background_project.aspx?isClosed=True" keepQueryString="true" target="right" />
            <Tab text="办件类型管理" href="project/background_projectMain.aspx?Type=ApplyType" keepQueryString="true" target="right" />
            <Tab text="项目参数配置" href="project/background_projectConfiguration.aspx" keepQueryString="true" target="right" />
            <Tab text="处理中的办件" href="project/background_applyToWork.aspx" keepQueryString="true" target="right"/>
            <Tab text="所有项目办件" href="project/background_applyToAll.aspx" keepQueryString="true" target="right"/>
            <Tab text="办件统计分析" href="project/background_applyAnalysis.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="文档管理配置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
          <SubTabs>
            <Tab text="文档类别管理" href="project/background_docType.aspx" target="right" />
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
