<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
<Tabs>
    <Tab id="Cloud" permissions="pms_cloud" text="云平台管理" />
    <Tab id="CRM" permissions="pms_crm" text="客户管理" />
    <Tab id="Projects" permissions="pms_project" text="项目管理" href="project/background_left.aspx?menuID=Projects" />
    <Tab id="Documents" permissions="pms_document" text="文档管理" href="project/background_left.aspx?menuID=Documents" />
    <Tab id="Product" permissions="pms_product" text="产品管理" />
    <Tab id="Setting" permissions="pms_setting" text="系统设置" />
</Tabs>
</TabCollection>