<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="公众账号管理" permissions="b2c_paymentShipment" iconUrl="~/sitefiles/bairong/Icons/menu/weixin.png" selected="true">
      <SubTabs>
        <Tab text="公众账号管理" href="weixin/console_account.aspx"  target="right" />
        <Tab text="同步公众账号" href="weixin/console_accountSync.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab text="增值服务管理" permissions="b2c_request" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif" selected="true">
      <SubTabs>
        <Tab text="短信增值包" href="b2c/console_request.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab text="客户服务管理" permissions="b2c_request" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" selected="true">
      <SubTabs>
        <Tab text="客服工号管理" href="b2c/console_shipment.aspx"  target="right" />
        <Tab text="工单管理" href="b2c/console_request.aspx" target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
