<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModuleName>SiteServer WCM</ModuleName>
  <FullName>SiteServer WCM 内容协作平台</FullName>
  <Database>SQLSERVER,ORACLE</Database>
  <ModuleUrl>http://www.siteserver.cn</ModuleUrl>
  <Email>contactus@siteserver.cn</Email>
  <Developer>百容千域</Developer>
  <LogoName>logo.gif</LogoName>
  <Description>涵盖网站建立、内容服务、内容传递等内容价值链的各个方面，将结构化和非结构化信息提供给所有用户</Description>
</Module>