<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModuleName>SiteServer WeiXinB2C</ModuleName>
  <FullName>SiteServer WeiXinB2C 微信商城系统</FullName>
  <Database>SQLSERVER</Database>
  <ModuleUrl>http://www.siteserver.cn</ModuleUrl>
  <Email>contactus@siteserver.cn</Email>
  <Developer>百容千域</Developer>
  <LogoName>logo.gif</LogoName>
  <Description></Description>
</Module>