<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModuleName>SiteServer BBS</ModuleName>
  <FullName>SiteServer BBS 论坛系统</FullName>
  <Database>SQLSERVER</Database>
  <ModuleUrl>http://bbs.siteserver.cn</ModuleUrl>
  <Email>contactus@siteserver.cn</Email>
  <Developer>百容千域</Developer>
  <LogoName>logo.gif</LogoName>
  <Description>致力于成为.NET平台下BBS首选系统</Description>
</Module>