<RewriterRule>
  <LookFor>{siteUrl}/thread-(\d+)-(\d+)-(\d+).aspx.*</LookFor>
  <SendTo>{siteUrl}/thread.aspx?forumID=$1&amp;threadID=$2&amp;page=$3</SendTo>
</RewriterRule>
<RewriterRule>
  <LookFor>{siteUrl}/thread-(\d+)-(\d+).aspx.*</LookFor>
  <SendTo>{siteUrl}/thread.aspx?forumID=$1&amp;threadID=$2</SendTo>
</RewriterRule>