<link rel="stylesheet" type="text/css" href="/sitefiles/bairong/jquery/toastr/toastr.min.css">
<link type="text/css" rel="stylesheet" media="all" href="/sitefiles/bairong/dad/scripts/lib/scrollbar/style.min.css" />
<link rel="stylesheet" type="text/css" href="/sitefiles/bairong/dad/styles/template.css" />
<link rel="stylesheet" type="text/css" href="/sitefiles/bairong/dad/styles/drag.css" />

<script src="/sitefiles/bairong/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script language="javascript" src="/sitefiles/bairong/jquery/layer/layer.min.js"></script>
<script type="text/javascript" src="/sitefiles/bairong/dad/scripts/lib/jquery.qrcode.min.js"></script>
<script language="javascript" src="/sitefiles/bairong/jquery/toastr/toastr.min.js"></script>

<script language="javascript" src="/sitefiles/bairong/jquery/artTemplate/json2.js"></script>
<script language="javascript" src="/sitefiles/bairong/jquery/artTemplate/template.js"></script>
<script language="javascript" src="/sitefiles/bairong/jquery/artTemplate/template-simple.js"></script>
<script language="javascript" src="/sitefiles/bairong/jquery/artTemplate/utilService.js"></script>

<script type="text/javascript" src="/sitefiles/bairong/dad/scripts/lib/scrollbar/mousewheel.min.js"></script>
<script type="text/javascript" src="/sitefiles/bairong/dad/scripts/lib/scrollbar/scrollbar.min.js"></script>

<script type="text/javascript" charset="utf-8" src="/sitefiles/bairong/dad/scripts/lib/jquery-ui.min.js"></script>

<script language="javascript" src="/sitefiles/bairong/dad/scripts/services/service.js"></script>
<script language="javascript" src="/sitefiles/bairong/dad/scripts/templates/topController.js"></script>
<script language="javascript" src="/sitefiles/bairong/dad/scripts/templates/leftController.js"></script>
<script type="text/javascript" charset="utf-8" src="/sitefiles/bairong/dad/scripts/drag.js"></script>