<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Content" text="信息管理" permissions="siteserver_contentView,siteserver_channelAdd,siteserver_channelEdit,siteserver_channelDelete,siteserver_channelTranslate,siteserver_createPage,siteserver_publishPage,siteserver_contentCheck,siteserver_contentModel,siteserver_category,siteserver_siteAnalysis,siteserver_contentTrash" iconUrl="~/sitefiles/bairong/Icons/menu/content.gif" selected="true">
      <SubTabs>
        <Tab text="内容管理" permissions="siteserver_contentView,siteserver_contentAdd" iconUrl="~/sitefiles/bairong/Icons/menu/contents.gif" href="cms/background_contentMain.aspx" keepQueryString="true" target="right" />
        <Tab text="栏目管理" permissions="siteserver_channelAdd,siteserver_channelEdit,siteserver_channelDelete,siteserver_channelTranslate,siteserver_createPage,siteserver_publishPage" href="cms/background_channel.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/itemContainer.gif" keepQueryString="true" target="right"/>
        <Tab text="栏目及内容" permissions="siteserver_channelAdd,siteserver_channelEdit,siteserver_channelDelete,siteserver_channelTranslate,siteserver_createPage,siteserver_publishPage,siteserver_contentView" href="cms/background_contentChannel.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/contentchannel.gif" keepQueryString="true" target="right"/>
        <Tab text="内容审核" permissions="siteserver_contentCheck" href="cms/background_contentCheck.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/check.gif" keepQueryString="true" target="right" />
        <Tab text="内容搜索" permissions="siteserver_contentView" iconUrl="~/sitefiles/bairong/Icons/menu/search.gif" href="cms/background_contentSearch.aspx" keepQueryString="true" target="right" />
        <Tab text="批量转移" permissions="siteserver_contentTranslate,siteserver_channelTranslate" href="cms/background_channelTranslate.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/translate.gif" keepQueryString="true" target="right"/>
        <Tab text="评论管理" permissions="siteserver_commentDelete,siteserver_commentCheck" href="cms/background_commentContent.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/comment.gif" keepQueryString="true" target="right" />
        <Tab id="ContentModel" text="内容模型" permissions="siteserver_contentModel" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif">
          <SubTabs>
            <Tab text="内容模型管理" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif" href="cms/background_contentModel.aspx" keepQueryString="true" target="right" />
            <Tab ban="cms:selfservice" text="联动字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/relatedField.gif" href="cms/background_relatedField.aspx" keepQueryString="true" target="right"/>
            <Tab text="内容字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/form.gif" href="cms/background_tableStyleContent.aspx" keepQueryString="true" target="right"/>
            <Tab ban="cms:selfservice" text="栏目字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/form.gif" href="cms/background_tableStyleChannel.aspx?TableStyle=Channel" keepQueryString="true" target="right"/>
            <Tab ban="cms:selfservice" text="评论字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/form.gif" href="cms/background_tableStyleChannel.aspx?TableStyle=Comment" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="Category" text="归类管理" permissions="siteserver_category" iconUrl="~/sitefiles/bairong/Icons/menu/group.gif">
          <SubTabs>
            <Tab text="栏目组管理" href="cms/background_nodeGroup.aspx" keepQueryString="true" target="right" />
            <Tab text="内容组管理" href="cms/background_contentGroup.aspx" keepQueryString="true" target="right" />
            <Tab text="内容标签管理" href="cms/background_contentTags.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/tags.gif" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="SiteAnalysis" text="站点数据统计" permissions="siteserver_siteAnalysis" iconUrl="~/sitefiles/bairong/Icons/menu/count.gif">
          <SubTabs>
            <Tab text="管理员工作量统计" href="cms/background_analysisAdministrator.aspx" keepQueryString="true" target="right" />
            <Tab text="用户投稿量统计" href="cms/background_analysisUser.aspx" keepQueryString="true" target="right"/>
            <Tab text="内容点击量排名" href="cms/background_analysisContentHits.aspx" keepQueryString="true" target="right"/>
            <Tab text="文件下载量排名" href="cms/background_analysisContentDownloads.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="ContentTrash" text="内容回收站" permissions="siteserver_contentTrash" iconUrl="~/sitefiles/bairong/Icons/menu/trash.gif" href="cms/background_contentTrash.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab ban="cms" id="GovPublic" text="信息公开" permissions="siteserver_govPublicContent,siteserver_govPublicApply,siteserver_govPublicContentConfiguration,siteserver_govPublicApplyConfiguration,siteserver_govPublicAnalysis" iconUrl="~/sitefiles/bairong/Icons/tree/govPublic.gif">
      <SubTabs>
        <Tab id="GovPublicContent" text="主动信息公开" permissions="wcm_govPublicContent">
          <SubTabs>
            <Tab text="信息采集" href="wcm/background_govPublicContentAdd.aspx" keepQueryString="true" target="right" />
            <Tab text="信息管理" href="wcm/background_govPublicContentMain.aspx" keepQueryString="true" target="right"/>
            <Tab text="信息审核" href="wcm/background_contentCheck.aspx?IsGovPublic=True" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab id="GovPublicApply" text="依申请公开" permissions="wcm_govPublicApply">
          <SubTabs>
            <Tab text="待受理申请" href="wcm/background_govPublicApplyToAccept.aspx" keepQueryString="true" target="right"/>
            <Tab text="待办理申请" href="wcm/background_govPublicApplyToReply.aspx" keepQueryString="true" target="right"/>
            <Tab text="待审核申请" href="wcm/background_govPublicApplyToCheck.aspx" keepQueryString="true" target="right"/>
            <Tab text="所有申请" href="wcm/background_govPublicApplyToAll.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="GovPublicContentConfiguration" text="主动信息公开设置" permissions="wcm_govPublicContentConfiguration" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
          <SubTabs>
            <Tab text="分类法管理" href="wcm/background_govPublicCategoryMain.aspx" keepQueryString="true" target="right" />
            <Tab text="索引号生成规则" href="wcm/background_govPublicIdentifierRule.aspx" keepQueryString="true" target="right" />
            <Tab text="可选择部门设置" href="wcm/background_govPublicDepartmentSelect.aspx" keepQueryString="true" target="right" />
            <Tab text="机构分类设置" href="wcm/background_govPublicDepartment.aspx" keepQueryString="true" target="right" />
            <Tab text="主题分类设置" href="wcm/background_govPublicChannel.aspx" keepQueryString="true" target="right" />
            <Tab text="信息公开设置" href="wcm/background_govPublicConfiguration.aspx" keepQueryString="true" target="right" />
            <Tab text="重新生成索引号" href="wcm/background_govPublicCreateIdentifier.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab id="GovPublicApplyConfiguration" text="依申请公开设置" permissions="wcm_govPublicApplyConfiguration" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
          <SubTabs>
            <Tab text="依申请公开设置" href="wcm/background_govPublicApplyConfiguration.aspx" keepQueryString="true" target="right" />
            <Tab text="依申请公开提交样式" href="stl/background_tagStyle.aspx?elementName=stl:govPublicApply" keepQueryString="true" target="right"/>
            <Tab text="依申请公开查询样式" href="stl/background_tagStyle.aspx?elementName=stl:govPublicQuery" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="GovPublicAnalysis" text="数据统计分析" permissions="wcm_govPublicAnalysis" iconUrl="~/sitefiles/bairong/Icons/menu/count.gif">
          <SubTabs>
            <Tab text="主动信息公开统计" href="wcm/background_govPublicAnalysisDepartment.aspx" keepQueryString="true" target="right" />
            <Tab text="依申请公开统计" href="wcm/background_govPublicApplyAnalysis.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab ban="wcm" id="GovInteract" permissions="wcm_govInteract,wcm_govInteractConfiguration,wcm_govInteractAnalysis" text="互动交流" iconUrl="~/sitefiles/bairong/Icons/tree/govInteract.gif">
      <SubTabs>
        <Tab id="GovInteractConfiguration" text="互动交流设置" permissions="wcm_govInteractConfiguration" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
          <SubTabs>
            <Tab text="互动交流分类" href="wcm/background_govInteractChannel.aspx" keepQueryString="true" target="right" />
            <Tab text="负责部门设置" href="stl/background_tagStyleMain.aspx?tableStyle=GovInteractContent&amp;type=DepartmentSelect" keepQueryString="true" target="right" />
            <Tab text="负责人员设置" href="stl/background_tagStyleMain.aspx?tableStyle=GovInteractContent&amp;type=AdministratorSelect" keepQueryString="true" target="right" />
            <Tab text="办件字段管理" href="stl/background_tagStyleMain.aspx?tableStyle=GovInteractContent&amp;type=Attributes" keepQueryString="true" target="right" />
            <Tab text="办件提交样式" href="stl/background_tagStyleMain.aspx?tableStyle=GovInteractContent&amp;type=Apply" keepQueryString="true" target="right" />
            <Tab text="办件查询样式" href="stl/background_tagStyleMain.aspx?tableStyle=GovInteractContent&amp;type=Query" keepQueryString="true" target="right" />
            <Tab text="邮件/短信发送管理" href="stl/background_tagStyleMain.aspx?tableStyle=GovInteractContent&amp;type=MailSMS" keepQueryString="true" target="right" />
            <Tab text="办件类型管理" href="stl/background_tagStyleMain.aspx?tableStyle=GovInteractContent&amp;type=InteractType" keepQueryString="true" target="right" />
            <Tab text="办件预警设置" href="wcm/background_govInteractConfigurationAlert.aspx" keepQueryString="true" target="right" />
            <Tab text="互动交流设置" href="wcm/background_govInteractConfiguration.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab id="GovInteractAnalysis" text="数据统计分析" permissions="wcm_govInteractAnalysis" iconUrl="~/sitefiles/bairong/Icons/menu/count.gif">
          <SubTabs>
            <Tab text="互动交流统计" href="wcm/background_govInteractAnalysis.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab id="Function" text="功能管理" permissions="siteserver_inputContentView,siteserver_input,siteserver_vote,siteserver_gather,siteserver_advertisement,siteserver_resume,siteserver_mail,siteserver_seo,siteserver_tracking,siteserver_innerLink,siteserver_restriction,siteserver_backup,siteserver_signin,siteserver_archive,siteserver_fileManagement,siteserver_allPublish,siteserver_allTask,siteserver_bShare" iconUrl="~/sitefiles/bairong/Icons/menu/function.gif">
      <SubTabs>
        <Tab id="Input" text="提交表单" permissions="siteserver_inputContentView,siteserver_input" iconUrl="~/sitefiles/bairong/Icons/menu/input.gif">
          <SubTabs>
            <Tab text="提交表单管理" permissions="siteserver_input" href="cms/background_input.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Gather" text="信息采集管理" permissions="siteserver_gather" iconUrl="~/sitefiles/bairong/Icons/menu/gather.gif">
          <SubTabs>
            <Tab text="Web页面信息采集" href="cms/background_gatherRule.aspx" keepQueryString="true" target="right"/>
            <Tab text="数据库信息采集" href="cms/background_gatherDatabaseRule.aspx" keepQueryString="true" target="right"/>
            <Tab text="单文件页采集" href="cms/background_gatherFileRule.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Advertisement" text="广告管理" permissions="siteserver_advertisement" iconUrl="~/sitefiles/bairong/Icons/menu/advertisement.gif">
          <SubTabs>
            <Tab text="飘浮广告管理" href="cms/background_advertisement.aspx" keepQueryString="true" target="right"/>
            <Tab text="固定广告管理" href="cms/background_ad.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Resume" text="简历管理" permissions="siteserver_resume" iconUrl="~/sitefiles/bairong/Icons/menu/job.gif">
          <SubTabs>
            <Tab text="简历提交样式" href="stl/background_tagStyle.aspx?elementName=stl:resume" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Mail" text="邮件发送管理" permissions="siteserver_mail" iconUrl="~/sitefiles/bairong/Icons/menu/email.gif">
          <SubTabs>
            <Tab text="推荐好友管理">
              <SubTabs>
                <Tab text="推荐好友记录" href="cms/background_mailSendLog.aspx" keepQueryString="true" target="right"/>
                <Tab text="邮件格式设置" href="cms/background_mailSendFormat.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="邮件订阅管理">
              <SubTabs>
                <Tab text="邮件订阅列表" href="cms/background_mailSubscribe.aspx" keepQueryString="true" target="right"/>
                <Tab text="邮件格式设置" href="cms/background_mailSubscribeFormat.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="SEO" text="搜索引擎优化" permissions="siteserver_seo" iconUrl="~/sitefiles/bairong/Icons/menu/seo.gif">
          <SubTabs>
            <Tab text="页面元数据(Meta)">
              <SubTabs>
                <Tab text="页面元数据设置" href="cms/background_seoMetaList.aspx" keepQueryString="true" target="right"/>
                <Tab text="页面元数据匹配" href="cms/background_seoMetaMatch.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="站点地图(SiteMap)">
              <SubTabs>
                <Tab text="谷歌站点地图" href="cms/background_seoSiteMapGoogle.aspx" keepQueryString="true" target="right"/>
                <Tab text="百度新闻地图" href="cms/background_seoSiteMapBaidu.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Tracking" text="流量统计管理" permissions="siteserver_tracking" iconUrl="~/sitefiles/bairong/Icons/menu/count.gif" href="cms/background_tracker.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="统计摘要" href="cms/background_tracker.aspx" keepQueryString="true" target="right"/>
            <Tab text="站点流量统计">
              <SubTabs>
                <Tab text="栏目流量统计" href="cms/background_trackerChannelAnalysis.aspx" keepQueryString="true" target="right"/>
                <Tab text="内容流量统计" href="cms/background_trackerContentAnalysis.aspx" keepQueryString="true" target="right"/>
                <Tab text="内容流量排名" href="cms/background_trackerContentRank.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="分时统计">
              <SubTabs>
                <Tab text="最近访问统计" href="cms/background_trackerCurrentVisitors.aspx" keepQueryString="true" target="right"/>
                <Tab text="24小时统计" href="cms/background_trackerHour.aspx" keepQueryString="true" target="right"/>
                <Tab text="天统计" href="cms/background_trackerDay.aspx" keepQueryString="true" target="right"/>
                <Tab text="月统计" href="cms/background_trackerMonth.aspx" keepQueryString="true" target="right"/>
                <Tab text="年统计" href="cms/background_trackerYear.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="来源统计">
              <SubTabs>
                <Tab text="受访页面统计" href="cms/background_trackerPageUrl.aspx" keepQueryString="true" target="right"/>
                <Tab text="来访网址统计" href="cms/background_trackerReferrer.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="客户端统计">
              <SubTabs>
                <Tab text="操作系统统计" href="cms/background_trackerOS.aspx" keepQueryString="true" target="right"/>
                <Tab text="浏览器统计" href="cms/background_trackerBrowser.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="修改统计设置" href="cms/background_trackerEdit.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="InnerLink" text="站内链接管理" permissions="siteserver_innerLink" iconUrl="~/sitefiles/bairong/Icons/menu/innerlink.gif">
          <SubTabs>
            <Tab text="站内链接管理" href="cms/background_innerlink.aspx" keepQueryString="true" target="right"/>
            <Tab text="站内链接设置" href="cms/background_configurationinnerlink.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Restriction" text="页面访问限制" permissions="siteserver_restriction" iconUrl="~/sitefiles/bairong/Icons/menu/restriction.gif">
          <SubTabs>
            <Tab text="黑名单" href="cms/background_restrictionList.aspx?Type=Black" keepQueryString="true" target="right" />
            <Tab text="白名单" href="cms/background_restrictionList.aspx?Type=White" keepQueryString="true" target="right" />
            <Tab text="访问限制设置" href="cms/background_restrictionOptions.aspx" keepQueryString="true"  target="right" />
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Backup" text="数据备份恢复" permissions="siteserver_backup" iconUrl="~/sitefiles/bairong/Icons/menu/backup.gif">
          <SubTabs>
            <Tab text="数据备份" href="stl/background_backup.aspx" keepQueryString="true" target="right"/>
            <Tab text="数据恢复" href="stl/background_backupRecovery.aspx" keepQueryString="true" target="right"/>
            <Tab text="管理备份文件" href="stl/background_backup.aspx?isRedirectToFiles=True" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="Signin" text="内容签收管理" permissions="siteserver_signin" iconUrl="~/sitefiles/bairong/Icons/menu/signin.gif">
          <SubTabs>
            <Tab text="内容签收列表" href="cms/background_SigninManagement.aspx" keepQueryString="true" target="right" />
            <Tab text="内容签收设置" href="cms/background_configurationSingin.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" text="归档内容管理" permissions="siteserver_archive" iconUrl="~/sitefiles/bairong/Icons/menu/archive.gif" href="cms/background_contentArchive.aspx" keepQueryString="true" target="right" />
        <Tab text="站点文件管理" permissions="siteserver_fileManagement" iconUrl="~/sitefiles/bairong/Icons/menu/file.gif" href="cms/background_fileMain.aspx" keepQueryString="true" target="right"></Tab>
        <Tab ban="cms:selfservice" text="发布到存储空间" permissions="siteserver_allPublish" iconUrl="~/sitefiles/bairong/Icons/menu/publish.gif">
          <SubTabs>
            <Tab text="站点存储发布" href="cms/background_publishMain.aspx?classify=Site" keepQueryString="true" target="right"/>
            <Tab text="图片存储发布" href="cms/background_publishMain.aspx?classify=Image" keepQueryString="true" target="right"/>
            <Tab text="视频存储发布" href="cms/background_publishMain.aspx?classify=Video" keepQueryString="true" target="right"/>
            <Tab text="附件存储发布" href="cms/background_publishMain.aspx?classify=File" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="BShare" text="bShare分享插件" iconUrl="~/sitefiles/bairong/Icons/menu/bShare.gif" permissions="siteserver_bShare" >
          <SubTabs>
            <Tab text="插件设置" href="cms/background_shareSet.aspx" keepQueryString="true" target="right"/>
            <Tab text="统计信息" href="cms/background_shareStatistics.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab id="Template" text="显示管理" permissions="siteserver_template" iconUrl="~/sitefiles/bairong/Icons/menu/template.gif">
      <SubTabs>
        <Tab text="模板管理" href="stl/background_templateMain.aspx" keepQueryString="true" target="right" />
        <Tab text="匹配模板" href="stl/background_templateMatch.aspx" keepQueryString="true" target="right"/>
        <Tab text="包含文件管理" href="stl/background_templateInclude.aspx" keepQueryString="true" target="right"/>
        <Tab id="TagStyle" text="模板标签样式" iconUrl="~/sitefiles/bairong/Icons/menu/tagStyle.gif">
          <SubTabs>
            <Tab text="内容提交样式" href="stl/background_tagStyleContentInput.aspx" keepQueryString="true" target="right"/>
            <Tab text="搜索框样式" href="stl/background_tagStyle.aspx?elementName=stl:searchinput" keepQueryString="true" target="right"/>
            <Tab text="下拉菜单样式" href="stl/background_tagStyleMenu.aspx" keepQueryString="true" target="right"/>
            <Tab text="用户功能样式">
              <SubTabs>
                <Tab text="用户登录样式" href="stl/background_tagStyle.aspx?elementName=stl:login" keepQueryString="true" target="right"/>
                <Tab text="用户注册样式" href="stl/background_tagStyle.aspx?elementName=stl:register" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
          </SubTabs>
        </Tab>
        <Tab text="模板语言参考" href="stl/background_templateReference.aspx" keepQueryString="true" target="right"/>
        <Tab text="自定义模板语言" href="stl/background_stlTag.aspx" keepQueryString="true" target="right"/>
        <!--<Tab text="生成常用标签" href="stl/background_stlCreate.aspx" keepQueryString="true" target="right"/> -->
      </SubTabs>
    </Tab>
    <Tab id="Configration" text="设置管理" permissions="siteserver_configration" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
      <SubTabs>
        <Tab text="站点设置" href="cms/background_configurationSite.aspx" keepQueryString="true" target="right"/>
        <Tab text="内容管理设置" href="cms/background_configurationContent.aspx" keepQueryString="true" target="right"/>
        <Tab id="ConfigurationCreate" text="页面生成设置" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif">
          <SubTabs>
            <Tab text="网站访问设置" href="cms/background_configurationCreateUrl.aspx" keepQueryString="true" target="right"/>
            <Tab text="页面命名规则" href="stl/background_templateFilePathRule.aspx" keepQueryString="true" target="right"/>
            <Tab text="页面生成设置" href="cms/background_configurationCreate.aspx" keepQueryString="true" target="right"/>
            <Tab text="页面生成触发器" href="cms/background_configurationCreateTrigger.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="ConfigurationStorage" text="存储空间设置" iconUrl="~/sitefiles/bairong/Icons/menu/machine.gif">
          <SubTabs>
            <Tab ban="cms:selfservice" text="站点存储空间" href="cms/background_configurationStorageSite.aspx" keepQueryString="true" target="right"/>
            <Tab ban="cms:selfservice" text="图片存储空间" href="cms/background_configurationStorageImage.aspx" keepQueryString="true" target="right"/>
            <Tab ban="cms:selfservice" text="视频存储空间" href="cms/background_configurationStorageVideo.aspx" keepQueryString="true" target="right"/>
            <Tab ban="cms:selfservice" text="附件存储空间" href="cms/background_configurationStorageFile.aspx" keepQueryString="true" target="right"/>
            <Tab ban="cms:selfservice" text="备份存储空间" href="cms/background_configurationStorageBackup.aspx" keepQueryString="true" target="right"/>
            <Tab text="图片上传设置" href="cms/background_configurationUploadImage.aspx" keepQueryString="true" target="right"/>
            <Tab text="视频上传设置" href="cms/background_configurationUploadVideo.aspx" keepQueryString="true" target="right"/>
            <Tab text="附件上传设置" href="cms/background_configurationUploadFile.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" id="ConfigurationTask" text="定时任务管理" iconUrl="~/sitefiles/bairong/Icons/menu/task.gif">
          <SubTabs>
            <Tab text="定时生成任务" href="cms/background_task.aspx?ServiceType=Create" keepQueryString="true" target="right"/>
            <Tab text="定时发布任务" href="cms/background_task.aspx?ServiceType=Publish" keepQueryString="true" target="right"/>
            <Tab text="定时采集任务" href="cms/background_task.aspx?ServiceType=Gather" keepQueryString="true" target="right"/>
            <Tab text="定时备份任务" href="cms/background_task.aspx?ServiceType=Backup" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab ban="cms:selfservice" text="图片水印设置" href="cms/background_configurationWaterMark.aspx" keepQueryString="true" target="right"/>
        <Tab ban="cms:selfservice" text="邮件发送设置" href="cms/background_configurationMail.aspx" keepQueryString="true" target="right"/>
        <Tab ban="cms:selfservice" text="跨站转发设置" href="cms/background_configurationCrossSiteTrans.aspx" keepQueryString="true" target="right"/>
        <Tab ban="cms:selfservice" id="ConfigurationTouGao" text="内容投稿设置" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif">
          <SubTabs>
            <Tab text="站点投稿设置" href="cms/background_configurationTouGaoBySite.aspx" keepQueryString="true" target="right"/>
            <Tab text="用户投稿设置" href="cms/background_configurationTouGaoByType.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab id="Create" text="生成管理" permissions="siteserver_create" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif">
      <SubTabs>
        <Tab text="生成首页" href="stl/background_progressBar.aspx?CreateIndex=True" keepQueryString="true" target="right"/>
        <Tab text="生成栏目页" href="stl/background_createChannel.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成内容页" href="stl/background_createContent.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成文件页" href="stl/background_createFile.aspx" keepQueryString="true" target="right"/>
        <!-- <Tab text="快速生成" href="cms/background_createAll.aspx" keepQueryString="true" target="right"/> -->
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
