<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <websitePermissions>
    <add name="wcm_govPublicContent" text="主动信息公开" />
    <add name="wcm_govPublicApply" text="依申请公开" />
    <add name="wcm_govPublicContentConfiguration" text="主动信息公开设置" />
    <add name="wcm_govPublicApplyConfiguration" text="依申请公开设置" />
    <add name="wcm_govPublicAnalysis" text="信息公开统计" />
    <add name="wcm_govInteract" text="互动交流管理" />
    <add name="wcm_govInteractConfiguration" text="互动交流设置" />
    <add name="wcm_govInteractAnalysis" text="互动交流统计" />
  </websitePermissions>
  <govInteractPermissions>
    <add name="wcm_govInteractView" text="浏览办件" />
    <add name="wcm_govInteractAdd" text="新增办件" />
    <add name="wcm_govInteractEdit" text="编辑办件" />
    <add name="wcm_govInteractDelete" text="删除办件" />
    <add name="wcm_govInteractSwitchToTranslate" text="转办转移" />
    <add name="wcm_govInteractComment" text="批示办件" />
    <add name="wcm_govInteractAccept" text="受理办件" />
    <add name="wcm_govInteractReply" text="办理办件" />
    <add name="wcm_govInteractCheck" text="审核办件" />
  </govInteractPermissions>
</Config>
