<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="稿件管理" permissions="cms_contentTouGao,cms_contentCheck,cms_keyword">
      <SubTabs>
        <Tab text="信息投稿" permissions="cms_contentTouGao" href="cms/contents.aspx" target="mainframe" />
        <Tab text="信息审核" permissions="cms_contentCheck" href="cms/contentsToCheck.aspx" target="mainframe" />
	   <Tab text="敏感词管理" permissions="cms_keyword" href="cms/keyword.aspx" target="mainframe" />
      </SubTabs>
    </Tab>

    <Tab text="提交管理" permissions="cms_input,cms_comment">
      <SubTabs>
        <Tab text="提交表单管理" permissions="cms_input" href="cms/inputContents.aspx" target="mainframe"></Tab>
        <Tab text="提交评论管理" permissions="cms_comment" href="cms/comments.aspx" target="mainframe"></Tab>
      </SubTabs>
    </Tab>
    
	<!--<Tab text="内容签收" permissions="cms_signin">
      <SubTabs>
        <Tab id="signin" text="需签收的信息" permissions="cms_signin" href="cms/signin.aspx" target="mainframe" />
      </SubTabs>
    </Tab>-->
  </Tabs>
</TabCollection>
