<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <add name="cms_contentTouGao" text="信息投稿" />
  <add name="cms_contentCheck" text="信息审核" />
  <add name="cms_keyword" text="敏感词管理" />
  <add name="cms_input" text="提交表单管理" />
  <add name="cms_comment" text="评论管理" />
  <!--<add name="cms_signin" text="内容签收" />-->
</Config>
