<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModuleName>SiteServer CMS</ModuleName>
  <FullName>SiteServer CMS 内容管理系统</FullName>
  <Database>SQLSERVER,ORACLE,ACCESS</Database>
  <ModuleUrl>http://www.siteserver.cn</ModuleUrl>
  <Email>contactus@siteserver.cn</Email>
  <Developer>百容千域</Developer>
  <LogoName>logo.gif</LogoName>
  <Description>中国.NET平台下最强大的网站内容管理系统</Description>
</Module>