<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Content" text="信息管理" iconUrl="~/sitefiles/bairong/Icons/menu/content.gif" permissions="bbs_content" selected="true">
      <SubTabs>
        <Tab text="主题管理" href="bbs/background_thread.aspx" keepQueryString="true" target="right" />
        <Tab text="帖子管理" href="bbs/background_post.aspx" keepQueryString="true" target="right" />
        <Tab text="版块管理" href="bbs/background_forum.aspx" keepQueryString="true" target="right" />
        <Tab text="版块合并" href="bbs/background_forumTranslate.aspx" keepQueryString="true" target="right" />
        <Tab text="分类信息" href="bbs/background_threadCategory.aspx" keepQueryString="true" target="right" />

        <Tab text="用户举报" href="bbs/background_report.aspx" keepQueryString="true" target="right" />
        
        <Tab text="敏感贴管理">
          <SubTabs>
            <Tab text="敏感贴审核" href="bbs/background_susceptivityPost.aspx" keepQueryString="true" target="right" />
            <Tab text="查看已审核记录" href="bbs/background_susceptivityPostPassed.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="回收站管理">
          <SubTabs>
            <Tab text="主题回收站" href="bbs/background_threadTrash.aspx" keepQueryString="true" target="right" />
            <Tab text="帖子回收站" href="bbs/background_postTrash.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab id="User" text="用户管理" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" permissions="bbs_user">
      <SubTabs>
        <Tab text="用户组管理" href="cms/background_userGroup.aspx" keepQueryString="true" target="right" />
        <Tab text="用户管理" href="cms/background_user.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Settings" text="系统设置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" permissions="bbs_settings">
      <SubTabs>
        <Tab text="论坛信息" href="bbs/background_bbsInfo.aspx" keepQueryString="true" target="right" />
        <Tab text="界面设置" href="bbs/background_configurationDisplay.aspx" keepQueryString="true" target="right" />
        <Tab text="积分设置">
          <SubTabs>
            <Tab text="积分类型设置" href="bbs/background_configurationCredit1.aspx" keepQueryString="true" target="right" />
            <Tab text="积分奖赏设置" href="bbs/background_configurationCredit2.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="敏感词设置">
          <SubTabs>
            <Tab text="敏感词分类" href="bbs/background_KeywordsCategory.aspx" keepQueryString="true" target="right" />
            <Tab text="敏感词管理" href="bbs/background_keywordsFilting.aspx" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab text="附件上传设置" href="bbs/background_attachmentType.aspx" keepQueryString="true" target="right" />
        <Tab text="访问控制" href="bbs/background_accesscontrol.aspx" keepQueryString="true" target="right" />
        <Tab text="页面命名规则" href="bbs/background_filePathRule.aspx" keepQueryString="true" target="right" />
        <Tab text="模板生成设置" href="bbs/background_configurationTemplate.aspx" keepQueryString="true" target="right" />
        <Tab text="IP访问限制" iconUrl="~/sitefiles/bairong/Icons/menu/restriction.gif">
          <SubTabs>
            <Tab text="黑名单" href="bbs/background_restrictionList.aspx?Type=Black" keepQueryString="true" target="right" />
            <Tab text="白名单" href="bbs/background_restrictionList.aspx?Type=White" keepQueryString="true" target="right" />
            <Tab text="访问限制选项" href="bbs/background_restrictionOptions.aspx" keepQueryString="true"  target="right" />
          </SubTabs>
        </Tab>
        <Tab text="防灌水设置" href="bbs/background_control.aspx" keepQueryString="true" target="right" />
        <Tab text="新帖监控设置" href="bbs/background_configurationHandle.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Template" text="界面管理" iconUrl="~/sitefiles/bairong/Icons/menu/template.gif" permissions="bbs_template">
      <SubTabs>
        <Tab text="模板管理" href="bbs/background_template.aspx" keepQueryString="true" target="right" />
        <Tab text="表情管理" href="bbs/background_face.aspx" keepQueryString="true" target="right" />
        <!--<Tab text="表态动作" href="bbs/background_forum.aspx" target="right" />-->
        <Tab text="主题鉴定" href="bbs/background_identify.aspx" keepQueryString="true" target="right" />
        <!--<Tab text="编辑器设置" href="bbs/background_forum.aspx" target="right" />
        <Tab text="在线图标" href="bbs/background_forum.aspx" target="right" />-->
        <Tab text="导航设置" href="bbs/background_navigation.aspx" keepQueryString="true" target="right" />
        <Tab text="公告管理" href="bbs/background_announcement.aspx" keepQueryString="true" target="right" />
        <Tab text="广告管理" href="bbs/background_adSelect.aspx" keepQueryString="true" target="right" />
        <Tab text="友情链接" href="bbs/background_link.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Create" text="生成管理" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif" permissions="bbs_create">
      <SubTabs>
        <Tab text="生成首页" href="bbs/background_progressBar.aspx?CreateIndex=True" keepQueryString="true" target="right" />
        <Tab text="生成板块页" href="bbs/background_createForum.aspx" keepQueryString="true" target="right" />
        <Tab text="生成文件页" href="bbs/background_createFile.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
