<?xml version="1.0" encoding="utf-8" ?> 
<Config>
    <websitePermissions>
	<add name="bbs_content" text="内容管理" />
	<add name="bbs_user" text="用户管理" />
	<add name="bbs_settings" text="设置管理" />
	<add name="bbs_template" text="界面管理" />
	<add name="bbs_create" text="生成页面" />
  </websitePermissions>
</Config>