<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModuleName>SiteServer Project</ModuleName>
  <FullName>SiteServer Project 项目管理系统</FullName>
  <Database>SQLSERVER</Database>
  <ProductUrl>http://bbs.siteserver.cn</ProductUrl>
  <Email>contactus@siteserver.cn</Email>
  <Developer>百容千域</Developer>
  <LogoName>logo.gif</LogoName>
  <Description></Description>
</Module>