<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="个人信息">
      <SubTabs>
        <Tab text="用户首页" href="platform/default.aspx" target="mainframe" />
        <Tab text="修改账户信息" href="platform/attributes.aspx" target="mainframe" />
		    <Tab text="更换头像" href="platform/avatar.aspx" target="mainframe" />
		    <Tab text="修改密码" href="platform/password.aspx" target="mainframe" />
      </SubTabs>
    </Tab>
	<Tab text="系统功能" permissions="platform_userMessage,platform_userManagement,platform_userContact,platform_download,platform_downloadManagement">
      <SubTabs>
        <Tab id="userMessage" text="短消息管理" permissions="platform_userMessage" href="platform/userMessage.aspx" target="mainframe" />
        <Tab text="人员管理" permissions="platform_userManagement" href="platform/user.aspx" target="mainframe" />
		    <Tab text="通讯录" permissions="platform_userContact" href="platform/userContact.aspx" target="mainframe" />
		    <Tab text="内部资料下载" permissions="platform_download,platform_downloadManagement" href="platform/userDownload.aspx" target="mainframe" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
