<?xml version="1.0" encoding="utf-8"?>
<Config>
  <add name="platform_userMessage" text="短消息管理" />
  <add name="platform_userManagement" text="人员管理" />
  <add name="platform_userContact" text="通讯录" />
  <add name="platform_download" text="内部资料下载" />
  <add name="platform_downloadManagement" text="内部资料管理" />
</Config>