<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="公众账号" permissions="weixin_info,weixin_chart,weixin_menu,weixin_textReply,weixin_imageReply,weixin_setReply" iconUrl="~/sitefiles/bairong/Icons/menu/weixin.png" selected="true">
      <SubTabs>
        <Tab text="账户信息"  href="weixin/background_right.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/account.png" />
        <Tab text="运营图表" href="weixin/background_count.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/chart.png" />
        <Tab text="自定义菜单" href="weixin/background_menu.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/weixinMenu.png" />
        <Tab text="关键词文本回复" href="weixin/background_keywordText.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/wx_chat.png" />
        <Tab text="关键词图文回复" href="weixin/background_keywordNews.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/wx_list.png" />
        <Tab text="智能回复设置" href="weixin/background_keywordConfiguration.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.png" />
      </SubTabs>
    </Tab>
    <Tab id="Content" text="微商城" permissions="cms_contentView,cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_publishPage,cms_contentCheck,cms_contentModel,cms_category,cms_siteAnalysis,cms_contentTrash" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif" href="weixin/background_navWeb.aspx" keepQueryString="true" target="right">
      <SubTabs>
        <!-- <Tab text="可视化编辑" iconUrl="~/sitefiles/bairong/Icons/menu/preview.png" href="stl/background_redirect.aspx?type=DynamicPage" keepQueryString="true" target="right" /> -->
        <Tab text="商品管理" permissions="cms_contentView,cms_contentAdd" iconUrl="~/sitefiles/bairong/Icons/menu/contents.gif" href="cms/background_contentMain.aspx" keepQueryString="true" target="right" />
        <Tab text="栏目管理" permissions="cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_publishPage" href="b2c/background_channel.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/itemContainer.png" keepQueryString="true" target="right"/>
        <Tab text="预览微商城" iconUrl="~/sitefiles/bairong/Icons/menu/preview.png" href="cms/background_preview.aspx" keepQueryString="true" target="right" />
        <Tab text="模板管理" href="stl/background_templateMain.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/templateManage.png" target="right" />
        <Tab text="匹配模板" href="stl/background_templateMatch.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/templateMatch.png" target="right"/>
        <Tab text="包含文件管理" href="stl/background_templateInclude.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/include.png" target="right"/>
        <Tab text="底部导航菜单" iconUrl="~/sitefiles/bairong/Icons/menu/weixinMenu.png">
          <SubTabs>
            <Tab text="菜单项管理" href="weixin/background_webMenu.aspx" keepQueryString="true" target="right"/>
            <Tab text="菜单风格选择" href="weixin/background_webMenuType.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="文件管理" iconUrl="~/sitefiles/bairong/Icons/menu/file.gif" href="cms/background_fileMain.aspx" keepQueryString="true" target="right"></Tab>
        <Tab id="ContentTrash" text="商品回收站" permissions="cms_contentTrash" iconUrl="~/sitefiles/bairong/Icons/menu/trash.gif" href="cms/background_contentTrash.aspx" keepQueryString="true" target="right" />
        <Tab text="模板语言参考" href="stl/background_templateReference.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/tagStyle.png" keepQueryString="true" target="right"/>
        <Tab id="Create" text="生成管理" permissions="cms_create" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif" href="cms/background_navCreate.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="生成首页" href="stl/background_progressBar.aspx?CreateIndex=True" keepQueryString="true" target="right"/>
            <Tab text="生成栏目页" href="stl/background_createChannel.aspx" keepQueryString="true" target="right"/>
            <Tab text="生成商品页" href="stl/background_createContent.aspx" keepQueryString="true" target="right"/>
            <Tab text="生成文件页" href="stl/background_createFile.aspx" keepQueryString="true" target="right"/>
            <!-- <Tab text="快速生成" href="stl/background_createAll.aspx" keepQueryString="true" target="right"/> -->
          </SubTabs>
        </Tab>
      </SubTabs>
      <Tab ban="cms:selfservice" id="Tracking" text="微官网流量统计" permissions="cms_tracking" iconUrl="~/sitefiles/bairong/Icons/menu/count.gif" href="cms/background_tracker.aspx" keepQueryString="true" target="right">
        <SubTabs>
          <Tab text="统计摘要" href="cms/background_tracker.aspx" keepQueryString="true" target="right"/>
          <Tab text="站点流量统计">
            <SubTabs>
              <Tab text="栏目流量统计" href="cms/background_trackerChannelAnalysis.aspx" keepQueryString="true" target="right"/>
              <Tab text="商品流量统计" href="cms/background_trackerContentAnalysis.aspx" keepQueryString="true" target="right"/>
              <Tab text="商品流量排名" href="cms/background_trackerContentRank.aspx" keepQueryString="true" target="right"/>
            </SubTabs>
          </Tab>
          <Tab ban="cms:selfservice" id="SiteAnalysis" text="站点数据统计" permissions="cms_siteAnalysis">
            <SubTabs>
              <Tab text="管理员工作量统计" href="cms/background_analysisAdministrator.aspx" keepQueryString="true" target="right" />
              <Tab text="用户投稿量统计" href="cms/background_analysisUser.aspx" keepQueryString="true" target="right"/>
              <Tab text="商品点击量排名" href="cms/background_analysisContentHits.aspx" keepQueryString="true" target="right"/>
              <Tab text="文件下载量排名" href="cms/background_analysisContentDownloads.aspx" keepQueryString="true" target="right"/>
            </SubTabs>
          </Tab>
          <Tab text="分时统计">
            <SubTabs>
              <Tab text="最近访问统计" href="cms/background_trackerCurrentVisitors.aspx" keepQueryString="true" target="right"/>
              <Tab text="24小时统计" href="cms/background_trackerHour.aspx" keepQueryString="true" target="right"/>
              <Tab text="天统计" href="cms/background_trackerDay.aspx" keepQueryString="true" target="right"/>
              <Tab text="月统计" href="cms/background_trackerMonth.aspx" keepQueryString="true" target="right"/>
              <Tab text="年统计" href="cms/background_trackerYear.aspx" keepQueryString="true" target="right"/>
            </SubTabs>
          </Tab>
          <Tab text="来源统计">
            <SubTabs>
              <Tab text="受访页面统计" href="cms/background_trackerPageUrl.aspx" keepQueryString="true" target="right"/>
              <Tab text="来访网址统计" href="cms/background_trackerReferrer.aspx" keepQueryString="true" target="right"/>
            </SubTabs>
          </Tab>
          <Tab text="客户端统计">
            <SubTabs>
              <Tab text="操作系统统计" href="cms/background_trackerOS.aspx" keepQueryString="true" target="right"/>
              <Tab text="浏览器统计" href="cms/background_trackerBrowser.aspx" keepQueryString="true" target="right"/>
            </SubTabs>
          </Tab>
          <Tab text="修改统计设置" href="cms/background_trackerEdit.aspx" keepQueryString="true" target="right"/>
        </SubTabs>
      </Tab>

    </Tab>

    <Tab id="Configration" text="微功能" permissions="weixin_coupon,weixin_scratch,weixin_scratch,weixin_bigWheel,weixin_goldEgg,weixin_flap,weixin_yaoYao,weixin_vote,weixin_message,weixin_appointment,weixin_conference,weixin_map,weixin_view360,weixin_album,weixin_search,weixin_store,weixin_wifi,weixin_card,weixin_collect" iconUrl="~/sitefiles/bairong/Icons/menu/function.png" href="weixin/background_navFunction.aspx" keepQueryString="true" target="right">
      <SubTabs>
        <Tab text="优惠券" href="weixin/background_couponAct.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="优惠券管理" href="weixin/background_coupon.aspx" keepQueryString="true" target="right"/>
            <Tab text="优惠券活动" href="weixin/background_couponAct.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="刮刮卡" href="weixin/background_lottery.aspx?lotteryType=Scratch" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="查看获奖名单" href="weixin/background_lotteryWinner.aspx?lotteryType=Scratch" keepQueryString="true" target="right"/>
            <Tab text="刮刮卡管理" href="weixin/background_lottery.aspx?lotteryType=Scratch" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="大转盘" href="weixin/background_lottery.aspx?lotteryType=BigWheel" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="查看获奖名单" href="weixin/background_lotteryWinner.aspx?lotteryType=BigWheel" keepQueryString="true" target="right"/>
            <Tab text="大转盘管理" href="weixin/background_lottery.aspx?lotteryType=BigWheel" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="砸金蛋" href="weixin/background_lottery.aspx?lotteryType=GoldEgg" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="查看获奖名单" href="weixin/background_lotteryWinner.aspx?lotteryType=GoldEgg" keepQueryString="true" target="right"/>
            <Tab text="砸金蛋管理" href="weixin/background_lottery.aspx?lotteryType=GoldEgg" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="大翻牌" href="weixin/background_lottery.aspx?lotteryType=Flap" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="查看获奖名单" href="weixin/background_lotteryWinner.aspx?lotteryType=Flap" keepQueryString="true" target="right"/>
            <Tab text="大翻牌管理" href="weixin/background_lottery.aspx?lotteryType=Flap" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="摇摇乐" href="weixin/background_lottery.aspx?lotteryType=YaoYao" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="查看获奖名单" href="weixin/background_lotteryWinner.aspx?lotteryType=YaoYao" keepQueryString="true" target="right"/>
            <Tab text="摇摇乐管理" href="weixin/background_lottery.aspx?lotteryType=YaoYao" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微投票" href="weixin/background_vote.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="添加投票" href="weixin/background_voteAdd.aspx" keepQueryString="true" target="right"/>
            <Tab text="投票管理" href="weixin/background_vote.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微留言" href="weixin/background_message.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="查看留言" href="weixin/background_messageContent.aspx" keepQueryString="true" target="right"/>
            <Tab text="留言管理" href="weixin/background_message.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微预约" href="weixin/background_appointment.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="查看预约" href="weixin/background_appointmentContent.aspx" keepQueryString="true" target="right"/>
            <Tab text="预约管理" href="weixin/background_appointment.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微会议" href="weixin/background_conference.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="参会申请" href="weixin/background_conferenceContent.aspx" keepQueryString="true" target="right"/>
            <Tab text="会议管理" href="weixin/background_conference.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微导航" href="weixin/background_map.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="添加微导航" href="weixin/background_mapAdd.aspx" keepQueryString="true" target="right"/>
            <Tab text="微导航管理" href="weixin/background_map.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="360全景" href="weixin/background_view360.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="添加360全景" href="weixin/background_view360Add.aspx" keepQueryString="true" target="right"/>
            <Tab text="360全景管理" href="weixin/background_view360.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微相册" href="weixin/background_album.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="添加微相册" href="weixin/background_albumAdd.aspx" keepQueryString="true" target="right"/>
            <Tab text="微相册管理" href="weixin/background_album.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微搜索" href="weixin/background_search.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="添加微搜索" href="weixin/background_searchAdd.aspx" keepQueryString="true" target="right"/>
            <Tab text="微搜索管理" href="weixin/background_search.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微门店" href="weixin/background_store.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="门店区域管理" href="weixin/background_storecategory.aspx" keepQueryString="true" target="right"/>
            <Tab text="微门店管理" href="weixin/background_store.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微信WIFI" href="weixin/background_wifiAdd.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="商家设置" href="weixin/background_wifiAdd.aspx" keepQueryString="true" target="right"/>
            <Tab text="路由器管理" href="weixin/background_wifiNode.aspx" keepQueryString="true" target="right"/>
            <Tab text="路由器报表" href="weixin/background_wifiNodeReport.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微会员" href="weixin/background_card.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="添加会员卡" href="weixin/background_cardAdd.aspx" keepQueryString="true" target="right"/>
            <Tab text="会员卡管理" href="weixin/background_card.aspx" keepQueryString="true" target="right"/>
            <Tab text="会员交易" href="weixin/background_navTransaction.aspx" keepQueryString="true" target="right"/>
            <Tab text="会员设置" href="weixin/background_cardConfiguration.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="微征集" href="weixin/background_collect.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="添加征集" href="weixin/background_collectAdd.aspx" keepQueryString="true" target="right"/>
            <Tab text="征集管理" href="weixin/background_collect.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="关键词管理" href="weixin/background_keyword.aspx" keepQueryString="true" target="right" iconUrl="~/sitefiles/bairong/Icons/menu/authentication.png" />

      </SubTabs>
    </Tab>

    <Tab id="User" text="用户订单" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" permissions="b2c_order,b2c_request,cms_user">
      <SubTabs>
        <Tab text="订单管理" permissions="b2c_order" href="b2c/background_orderList.aspx" keepQueryString="true" target="right" />
        <Tab text="工单管理" permissions="b2c_request" href="b2c/background_request.aspx" keepQueryString="true" target="right"/>
        <Tab text="用户管理" permissions="cms_user" href="cms/background_user.aspx" keepQueryString="true" target="right" />
        <Tab text="审核新用户" permissions="cms_user" href="cms/background_userCheck.aspx" keepQueryString="true" target="right"/>
        <Tab text="用户组管理" permissions="cms_user" href="cms/background_userGroup.aspx" keepQueryString="true" target="right" />
        <!-- <Tab ban="cms:selfservice" text="发送消息" iconUrl="~/sitefiles/bairong/Icons/menu/sms.png">
          <SubTabs>
            <Tab text="邮件群发" href="cms/background_userMail.aspx" keepQueryString="true" target="right"/>
            <Tab text="短消息群发" href="cms/background_userMessage.aspx" keepQueryString="true" target="right"/>
            <Tab text="短信群发" href="cms/background_userSMS.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab> -->
        <Tab text="用户设置" permissions="cms_user" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
          <SubTabs>
            <Tab text="用户注册设置" href="cms/background_userConfigRegister.aspx" keepQueryString="true" target="right"/>
            <Tab text="用户字段管理" href="cms/background_userTableStyle.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>

    <Tab id="ConfigrationB2C" text="商城设置" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
      <SubTabs>
        <Tab text="支付方式管理" href="b2c/background_payment.aspx" keepQueryString="true"  target="right" />
        <Tab text="配送方式管理" href="b2c/background_shipment.aspx" keepQueryString="true"  target="right" />
        <Tab text="订单设置" href="b2c/background_configurationOrder.aspx" keepQueryString="true" target="right"/>
        <Tab text="运费设置" href="b2c/background_configurationShipment.aspx" keepQueryString="true" target="right"/>
        <Tab text="打折促销设置" href="b2c/background_promotion.aspx" keepQueryString="true" target="right"/>
        <Tab text="商品图片尺寸" href="b2c/background_configurationPhoto.aspx" keepQueryString="true" target="right" />
        <Tab text="地区设置" href="b2c/background_location.aspx"  target="right" />
      </SubTabs>
    </Tab>

    <Tab id="Configration" text="设置管理" href="cms/background_navConfiguration.aspx" keepQueryString="true" target="right" permissions="cms_configration" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.png">
      <SubTabs>
        <Tab text="站点信息" href="weixin/background_configuration.aspx" keepQueryString="true" target="right"/>
        <Tab text="站点设置" href="cms/background_configurationSite.aspx" keepQueryString="true" target="right"/>
        <Tab text="百度直达号设置" href="weixin/background_configurationZDH.aspx" keepQueryString="true" target="right"/>
        <Tab text="商品管理设置" href="cms/background_configurationContent.aspx" keepQueryString="true" target="right"/>
        <Tab text="商品字段管理" iconUrl="~/sitefiles/bairong/Icons/menu/form.gif" href="cms/background_tableStyleContent.aspx" keepQueryString="true" target="right"/>
        <Tab text="组别及标签设置" iconUrl="~/sitefiles/bairong/Icons/menu/group.gif">
          <SubTabs>
            <Tab text="栏目组管理" href="cms/background_nodeGroup.aspx" keepQueryString="true" target="right" />
            <Tab text="商品组管理" href="cms/background_contentGroup.aspx" keepQueryString="true" target="right" />
            <Tab text="商品标签管理" href="cms/background_contentTags.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/tags.gif" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>

        <Tab ban="cms:selfservice" text="图片水印设置" href="cms/background_configurationWaterMark.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>

  </Tabs>
</TabCollection>