<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="稿件管理" permissions="wcm_contentTouGao,wcm_contentCheck,wcm_keyword">
      <SubTabs>
        <Tab text="信息投稿" permissions="wcm_contentTouGao" href="wcm/contents.aspx" target="mainframe" />
        <Tab text="信息审核" permissions="wcm_contentCheck" href="wcm/contentsToCheck.aspx" target="mainframe" />
	   <Tab text="敏感词管理" permissions="wcm_keyword" href="wcm/keyword.aspx" target="mainframe" />
      </SubTabs>
    </Tab>

    <Tab text="提交管理" permissions="wcm_input,wcm_comment">
      <SubTabs>
        <Tab text="提交表单管理" permissions="wcm_input" href="wcm/inputContents.aspx" target="mainframe"></Tab>
        <Tab text="提交评论管理" permissions="wcm_comment" href="wcm/comments.aspx" target="mainframe"></Tab>
      </SubTabs>
    </Tab>
    
	<!--<Tab text="内容签收" permissions="wcm_signin">
      <SubTabs>
        <Tab id="signin" text="需签收的信息" permissions="wcm_signin" href="wcm/signin.aspx" target="mainframe" />
      </SubTabs>
    </Tab>-->
  </Tabs>
</TabCollection>
