<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <add name="wcm_contentTouGao" text="信息投稿" />
  <add name="wcm_contentCheck" text="信息审核" />
  <add name="wcm_keyword" text="敏感词管理" />
  <add name="wcm_input" text="提交表单管理" />
  <add name="wcm_comment" text="评论管理" />
  <!--<add name="wcm_signin" text="内容签收" />-->
</Config>
