<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Administrator" text="管理员管理" permissions="platform_administrator" iconUrl="~/sitefiles/bairong/Icons/menu/administrator.gif" selected="true">
      <SubTabs>
        <Tab text="创建角色" href="cms/background_roleAdd.aspx" keepQueryString="true" target="right"/>
        <Tab text="角色管理" href="cms/background_role.aspx" keepQueryString="true" target="right"/>
        <Tab text="管理员管理" href="platform/background_departmentMain.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
    <Tab id="AdminAttributes" text="部门与区域设置" permissions="platform_adminAttributes" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="所属部门管理" href="platform/background_department.aspx" keepQueryString="true" target="right"/>
        <Tab text="所在区域管理" href="platform/background_area.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
