<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="MlibManage" text="稿件管理" iconUrl="~/sitefiles/bairong/Icons/menu/site.gif" permissions="platform_administrator,platform_mlib"  selected="true">
      <SubTabs>
        <Tab text="稿件管理" href="mlib/background_contentMain.aspx" keepQueryString="true"  target="right" />
      </SubTabs>
    </Tab>
    <Tab id="MlibConfig" text="系统配置" permissions="platform_administrator,platform_mlibconfig" iconUrl="~/sitefiles/bairong/Icons/menu/site.gif" selected="true">
      <SubTabs>
        <Tab text="分类管理" href="cms/background_channel.aspx"  keepQueryString="true"  target="right"/>
        <!--<Tab text="引用配置" href="mlib/ReferenceSet.aspx"  keepQueryString="true"  target="right"/>-->
        <Tab text="权限分配" href="mlib/MlibConfig.aspx"  keepQueryString="true"  target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
