<?xml version="1.0" encoding="utf-8" ?>
<Config>

  <websitePermissions>
    <add name="usercenter_user" text="用户管理" />
    <add name="usercenter_content" text="信息管理" />
    <add name="usercenter_template" text="显示管理" />
    <add name="usercenter_msg" text="消息管理" />
    <add name="usercenter_setting" text="设置管理" />
    <add name="usercenter_create" text="生成管理" />
  </websitePermissions>

  <add name="platform_auxiliary" text="辅助表管理" />
  <add name="platform_site" text="系统应用管理" />
  <add name="platform_siteSettings" text="应用通用设置" /> 
  <add name="platform_organization" text="分支机构管理" /> 

  <add name="platform_administrator" text="管理员管理" />
  <add name="platform_adminAttributes" text="部门与区域设置" />

  <add name="platform_configuration" text="平台参数设置" />
  <add name="platform_product" text="平台产品管理" />
  <add name="platform_sms" text="短信服务商设置"/>
  <add name="platform_email" text="邮件服务器设置"/>
  <add name="platform_restriction" text="后台访问限制" />
  <add name="platform_utility" text="实用工具" />
  <add name="platform_log" text="后台运行记录" />

  <add name="platform_service" text="服务监控" />
  <add name="platform_storage" text="云存储管理" />

  <add name="platform_users" text="用户管理" />

  <add name="platform_mlib" text="稿件管理" />
  <add name="platform_mlibconfig" text="投稿系统配置" />

  <add name="platform_statistics" text="数据统计" />
</Config>
