<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab ban="cms:selfservice" id="Configuration" text="平台参数设置" permissions="platform_configuration" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="平台参数设置" href="platform/background_configuration.aspx"  target="right" />
        <Tab id="ConfigurationMenu" text="平台菜单设置" iconUrl="~/sitefiles/bairong/Icons/menu/menu.png">
          <SubTabs>
            <Tab text="权限设置" href="platform/background_configurationPermission.aspx" target="right"/>
            <Tab text="菜单设置" href="platform/background_configurationMenu.aspx" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab id="Product" text="平台产品管理" permissions="platform_product" iconUrl="~/sitefiles/bairong/Icons/menu/module.gif" selected="true">
      <SubTabs>
        <Tab text="产品在线升级" href="platform/background_onlineHotfix.aspx"  target="right" />
        <Tab text="许可证管理" href="platform/background_license.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab ban="cms:selfservice" id="SMS" text="短信服务商设置" permissions="platform_sms" iconUrl="~/sitefiles/bairong/Icons/menu/sms.png" selected="true">
      <SubTabs>
        <!--<Tab text="手机短信设置" href="platform/background_smsConfig.aspx" target="right"/>
        <Tab text="发送测试短信" href="platform/background_smsSendMessage.aspx" target="right"/>
        <Tab text="已发短信查询" href="platform/background_smsTheSendMessages.aspx" target="right"/>
        <Tab text="剩余短信条数" href="platform/background_smsSurplusMessageNum.aspx"  target="right" />-->
        <Tab text="手机短信服务商管理" href="platform/background_smsServerInit.aspx" target="right"/>
        <Tab text="发送测试短信" href="platform/background_smsServerSendMessage.aspx" target="right"/>
        <Tab text="剩余短信条数" href="platform/background_smsServerSurplusMessageNum.aspx"  target="right" />
        <Tab text="已发短信查询" href="platform/background_smsServerTheSendMessages.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab ban="cms:selfservice" id="Email" text="邮件服务器设置" permissions="platform_email" iconUrl="~/sitefiles/bairong/Icons/menu/email.png" selected="true">
      <SubTabs>
        <Tab text="邮件服务器设置" href="platform/background_userConfigMail.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab ban="cms:selfservice" id="Restriction" text="后台访问限制" permissions="platform_restriction" iconUrl="~/sitefiles/bairong/Icons/menu/restriction.gif" selected="true">
      <SubTabs>
        <Tab text="黑名单" href="platform/background_restrictionList.aspx?Type=Black" target="right" />
        <Tab text="白名单" href="platform/background_restrictionList.aspx?Type=White" target="right" />
        <Tab text="访问限制选项" href="platform/background_restrictionOptions.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab ban="cms:selfservice" id="Utility" text="实用工具" permissions="platform_utility" iconUrl="~/sitefiles/bairong/Icons/menu/utils.gif" selected="true">
      <SubTabs>
        <Tab text="机器参数查看" href="platform/background_parameter.aspx" target="right" />
        <Tab text="系统缓存" href="platform/background_cache.aspx" target="right"/>
        <Tab text="加密字符串" href="platform/background_encrypt.aspx" target="right"/>
        <Tab text="JS脚本压缩" href="platform/background_jsMin.aspx" target="right"/>
        <Tab text="清空数据库日志" href="platform/background_dbLogDelete.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab id="Log" text="后台运行记录" permissions="platform_log,cms_log" iconUrl="~/sitefiles/bairong/Icons/menu/log.gif" selected="true">
      <SubTabs>
        <Tab text="日志阈值设置" href="platform/background_configurationLog.aspx" target="right" />
        <Tab text="应用日志" href="cms/console_logSite.aspx" target="right" />
        <Tab text="管理员日志" href="platform/background_log.aspx" target="right" />
        <Tab text="系统错误日志" href="platform/background_errorLog.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
