<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Service" text="服务监控" permissions="platform_service" selected="true" iconUrl="~/sitefiles/bairong/Icons/menu/service.png">
      <SubTabs>
        <Tab text="服务状态" href="platform/background_status.aspx" target="right" />
        <Tab text="定时任务查看" href="platform/background_task.aspx" target="right" />
        <Tab text="任务运行日志" href="platform/background_taskLog.aspx" target="right" />
      </SubTabs>
    </Tab>

    <Tab id="Storage" text="云存储管理" permissions="platform_storage" selected="true" iconUrl="~/sitefiles/bairong/Icons/menu/storage.png">
      <SubTabs>
        <Tab text="存储空间管理" href="platform/background_storage.aspx" target="right" />
      </SubTabs>
    </Tab>
    
  </Tabs>
</TabCollection>
