<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Site" text="系统统计管理" permissions="platform_statistics" iconUrl="~/sitefiles/bairong/Icons/menu/site.gif" selected="true">
      <SubTabs>
        <Tab ban="cms:selfservice" text="应用数据统计" href="cms/console_siteAnalysis1.aspx"  target="right" />
        <Tab ban="cms:selfservice" text="应用访问量统计" href="cms/console_siteHitsAnalysis.aspx"  target="right" />
        <Tab ban="cms:selfservice" text="文件下载统计" href="cms/console_siteDownloadAnalysis.aspx"  target="right" />
        <Tab text="管理员登录统计" href="platform/background_adminLoginAnalysis.aspx"  target="right" />
        <Tab text="会员新增数据统计" href="platform/background_userAnalysis.aspx"  target="right" />
        <Tab ban="cms:selfservice"  text="稿件新增数据统计" href="cms/console_mlibAnalysis.aspx"  target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
