<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Site" text="系统应用管理" permissions="platform_site" iconUrl="~/sitefiles/bairong/Icons/menu/site.gif" selected="true">
      <SubTabs>
        <Tab ban="cms:selfservice" text="创建新应用" href="stl/console_appAdd.aspx"  target="right"/>
        <Tab text="系统应用管理" href="stl/console_publishmentSystem.aspx"  target="right"/>
        <Tab text="访问地址管理" href="stl/console_publishmentSystemUrl.aspx"  target="right"/>
        <Tab text="应用模板管理" href="stl/console_siteTemplate.aspx"  target="right"/>
        <Tab text="应用模板下载" href="stl/console_siteTemplateOnline.aspx"  target="right"/>
        <Tab ban="cms:selfservice" text="应用数据统计" href="cms/console_siteAnalysis.aspx"  target="right" />
        <Tab text="独立模板管理" href="stl/console_independentTemplate.aspx"  target="right"/>
      </SubTabs>
    </Tab>
    <Tab ban="cms:selfservice" id="SiteSettings" text="应用通用设置" permissions="platform_siteSettings" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="敏感词管理" iconUrl="~/sitefiles/bairong/Icons/menu/keyword.png" href="cms/console_keywordMain.aspx" target="right"/>
        <Tab text="敏感词分类管理" iconUrl="~/sitefiles/bairong/Icons/menu/keyword.png" href="cms/console_keywordClassify.aspx" target="right"/>
        <Tab text="订单管理" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" href="b2c/background_orderListAll.aspx" target="right"/>
        <!--<Tab text="定时任务管理" iconUrl="~/sitefiles/bairong/Icons/menu/task.gif">
          <SubTabs>
            <Tab text="定时生成任务" href="cms/background_task.aspx?ServiceType=Create&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时发布任务" href="cms/background_task.aspx?ServiceType=Publish&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时采集任务" href="cms/background_task.aspx?ServiceType=Gather&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
            <Tab text="定时备份任务" href="cms/background_task.aspx?ServiceType=Backup&amp;PublishmentSystemID=0" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>-->
      </SubTabs>
    </Tab>
    <Tab ban="cms:selfservice" id="Auxiliary" text="辅助表管理" permissions="platform_auxiliary" iconUrl="~/sitefiles/bairong/Icons/menu/database.gif" selected="true">
      <SubTabs>
        <Tab text="添加辅助表" href="cms/console_auxiliaryTableAdd.aspx"  target="right" />
        <Tab text="辅助表管理" href="cms/console_auxiliaryTable.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab ban="cms:selfservice" id="Organization" text="分支机构管理" permissions="platform_organization" iconUrl="~/sitefiles/bairong/Icons/menu/orgn.png" selected="true">
      <SubTabs>
        <Tab text="分支机构列表"   href="cms/console_organizationMain.aspx" target="right"/>
        <Tab text="分支机构分类" href="cms/console_organizationClassify.aspx" target="right"/>
        <Tab text="区域管理"  href="cms/console_organizationAreaMain.aspx" target="right"/>
        <Tab text="其他设置"  href="cms/console_organizationSite.aspx" target="right"/>
      </SubTabs>
    </Tab> 
  </Tabs>
</TabCollection>
