<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="System" text="系统管理" permissions="platform_auxiliary,platform_site,platform_siteSettings,platform_organization" />
    <Tab id="Admin" text="管理员管理" permissions="platform_administrator,platform_adminAttributes" />
    <Tab id="Platform" text="平台设置" permissions="platform_configuration,platform_product,platform_sms,platform_restriction,platform_utility,platform_log" />
    <Tab ban="cms:selfservice" id="Service" text="服务管理" permissions="platform_service,platform_storage" />
    <Tab id="UserCenter" text="用户中心管理" permissions="platform_administrator,platform_adminAttributes,platform_users" />
   <!-- <Tab id="MLib" text="用户投稿系统" permissions="platform_administrator,platform_adminAttributes,platform_mlib,platform_mlibconfig" />-->
    <Tab id="Statistics" text="数据统计" permissions="platform_administrator,platform_adminAttributes,platform_statistics" />
  </Tabs>
</TabCollection>