<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="User" text="用户管理" iconUrl="~/sitefiles/bairong/Icons/menu/user.gif" permissions="platform_administrator,usercenter_user"  selected="true">
      <SubTabs>
        <Tab text="用户管理" href="platform/background_user.aspx" keepQueryString="true" target="right" />
        <Tab text="审核新用户" href="platform/background_userCheck.aspx" keepQueryString="true" target="right"/>
       <Tab text="用户组管理" href="platform/background_userNewGroup.aspx" keepQueryString="true" target="right" /> 
      </SubTabs>
    </Tab>
    <Tab id="Content" text="信息管理" permissions="platform_administrator,usercenter_content" iconUrl="~/sitefiles/bairong/Icons/menu/content.png">
      <SubTabs>
        <Tab text="内容管理" permissions="cms_contentView,cms_contentAdd,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/contents.gif" href="cms/background_contentMain.aspx" keepQueryString="true" target="right" />
        <Tab text="栏目管理" permissions="cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_publishPage,platform_users" href="cms/background_channel.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/itemContainer.png" keepQueryString="true" target="right"/> 
        <Tab text="内容审核" permissions="cms_contentCheck,platform_users" href="cms/background_contentCheck.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/check.png" keepQueryString="true" target="right" />
        <Tab text="内容搜索" permissions="cms_contentView,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/search.gif" href="cms/background_contentSearch.aspx" keepQueryString="true" target="right" />      
        <Tab text="评论管理" permissions="cms_commentDelete,cms_commentCheck,platform_users" href="cms/background_commentContent.aspx" iconUrl="~/sitefiles/bairong/Icons/menu/comment.png" keepQueryString="true" target="right" />
        <Tab id="ContentTrash" text="内容回收站" permissions="cms_contentTrash,platform_users" iconUrl="~/sitefiles/bairong/Icons/menu/trash.gif" href="cms/background_contentTrash.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Template" text="显示管理" permissions="platform_administrator,usercenter_template" iconUrl="~/sitefiles/bairong/Icons/menu/template.gif">
      <SubTabs>
        <Tab text="模板管理" href="stl/background_templateMain.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/templateManage.png" target="right" />
        <Tab text="匹配模板" href="stl/background_templateMatch.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/templateMatch.png" target="right"/>
        <Tab text="包含文件管理" href="stl/background_templateInclude.aspx" keepQueryString="true" iconUrl="~/sitefiles/bairong/Icons/menu/include.png" target="right"/>
        <Tab id="Create" text="生成管理" permissions="platform_administrator,usercenter_create" iconUrl="~/sitefiles/bairong/Icons/menu/create.gif">
          <SubTabs>
            <Tab text="生成首页" href="stl/background_progressBar.aspx?CreateIndex=True" keepQueryString="true" target="right"/>
            <Tab text="生成栏目页" href="stl/background_createChannel.aspx" keepQueryString="true" target="right"/>
            <Tab text="生成内容页" href="stl/background_createContent.aspx" keepQueryString="true" target="right"/>
            <Tab text="生成文件页" href="stl/background_createFile.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab id="Notice" text="消息管理" permissions="platform_administrator,usercenter_msg" iconUrl="~/sitefiles/bairong/Icons/menu/function.gif">
      <SubTabs>
        <Tab text="系统消息" href="platform/background_userMessage.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="系统公告" href="platform/background_systemMessage.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="消息模板管理" href="platform/background_userNoticeTemplate.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="消息模板匹配" href="platform/background_userNoticeSetting.aspx" keepQueryString="true" target="right"></Tab>
      </SubTabs>
    </Tab>
    <!--<Tab id="UserAdvancedSetting" text="用户等级积分" permissions="" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
      <SubTabs>
        <Tab text="用户等级" href="platform/background_userLevel.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="积分(币)规则" href="platform/background_levelRule.aspx" keepQueryString="true" target="right"></Tab>
      </SubTabs>
    </Tab>-->
    <!---->
    <Tab id="Mlib" text="投稿管理" permissions="platform_administrator,usercenter_setting" iconUrl="~/sitefiles/bairong/Icons/menu/mlib.png" selected="true">
      <SubTabs>
        <Tab text="稿件管理" href="platform/background_mlibManage.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="投稿基本设置" href="platform/background_mlibManageSite.aspx" keepQueryString="true" target="right"></Tab>
       <!-- <Tab text="投稿范围设置" href="platform/background_mlibManageScopeSite.aspx" keepQueryString="true" target="right"></Tab>-->
        <Tab text="投稿字段设置" href="platform/background_mlibManageTableStyleContentSite.aspx" keepQueryString="true" target="right"></Tab>
      </SubTabs>
    </Tab>
    <Tab id="Configration" text="设置管理" permissions="platform_administrator,usercenter_setting" iconUrl="~/sitefiles/bairong/Icons/menu/configuration.gif">
      <SubTabs>
        <Tab text="基本配置" href="cms/background_configurationUserCenter.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="用户字段配置" href="platform/background_userTableStyle.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="授权登录管理" href="platform/background_thirdLogin.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="密保问题配置" href="platform/background_userSecurityQuestion.aspx" keepQueryString="true" target="right"></Tab>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
