<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseType" value="SqlServer" />
    <!--<add key="ConnectionString" value="server=dev.gexia.com;uid=sa;pwd=3RAY49TFtw;database=dev"/>-->
    <add key="ConnectionString" value="server=(local);uid=sa;pwd=123456;database=siteserver4.1" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="1000000" executionTimeout="2000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="false" />
    <pages validateRequest="false" enableSessionState="true" enableViewState="true" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="30" />
    <trace enabled="false" requestLimit="1000" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation defaultLanguage="C#" debug="false"/>
    <httpModules>
      <add name="SiteServer" type="BaiRong.Provider.HttpModule.SiteServerHttpModule, BaiRong.Provider" />
    </httpModules>
  </system.web>
</configuration>